body {
}
.newswebsite {
  display: flex;
  justify-content: center;
}
.news-element {
  padding: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  width: 500px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.news-image {
  width: 500px;
}
